doctype html
html(lang='en')
  head
    title TODO
    link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Kaushan+Script" rel="stylesheet")
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    .container.p-3
      .header.d-flex.justify-content-center.p-1.m-1.bg-light
        h4.logo-text TODO - Organize Your Day
      .container.p-4  
        block content
